<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>
   
    <form action ="/madlib"> 
        Choose a person. <input type="text" name="ml_person">
        <br>
        <br>
        Choose a color. 
            <select name="ml_color">
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="red">Red</option>
                <option value="yellow">Yellow</option>
            </select>
        <br>
        <br>
        Choose a noun. <input type="text" name="ml_noun">
        <br>
        <br>
        Choose an adjective.
        <input type="radio" name="ml_adjective" value="hilarious">hilarious
        <input type="radio" name="ml_adjective" value="lazy">lazy
        <input type="radio" name="ml_adjective" value="funny">funny
        <input type="radio" name="ml_adjective" value="blazing">blazing
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>


